@import "../../global.scss";

.topbar {
    width: 100%;
    height: 70px;
    background-color: #4682B4; // Dark Blue
    color: #FFFFFF; // White
    position: fixed;
    top: 0;
    z-index: 2;
    transition: all 0.8s ease;

    .wrapper {
        padding: 15px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left {
            display: flex;
            justify-content: center;  // Centers the child items
            align-items: center;
            flex-grow: 1; // Make sure it occupies maximum space for centering
        
            .logo {
                font-family: 'Playfair Display', serif; // The fancier font
                font-size: 48px;
                font-weight: 600;
                text-decoration: none;
                color: #FFFFFF; // White
                margin-right: 20px; // Increased for a bit of separation
                transition: color 0.3s ease;
                position: absolute;  // To fix its position to the left
                left: 15px;  // Distance from the left edge
            }
        
            .social-icons {
                display: flex;
                gap: 200px; // Reduced gap for closer centering
        
                a img {
                    color: #FFFFFF; // Keeping icons white
                    filter: invert(100%); // This will ensure SVGs are white
                }
            }
        }
        
        
        .right {
            .navMenu {
                width: 32px;
                height: 25px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;

                span {
                    width: 100%;
                    height: 3px;
                    background-color: #FFFFFF; // White
                    transform-origin: left;
                    transition: all 0.3s ease;
                }
            }
        }
    }
    
    &.active {
        background-color: #2E4A62; // Darker Blue for active state

        .left {
            .logo, .social-icons a img {
                color: #FFFFFF; // Keeping it white
            }
        }

        .navMenu span {
            &:first-child {
                transform: rotate(45deg);
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:last-child {
                transform: rotate(-45deg);
            }
        }
    }
}
